:root{
    --main-color: #05a081;
    --text-color: #fff;
    --bg-color: #007d9a;
    --shadow: 0 0 3px rgba(0,0,0,0.34), 0 0 4px rgba(0,0,0,0.4);
}
*{
    box-sizing: border-box;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.card{
    /* flex: shrink basis width */
    flex:0 0 250px;
    margin: 10px;
}

.card img{
    max-width: 100%
}

.card .text{
    padding: 0 20px 20px;
}

.button{
    background: var(--main-color);
    color: var(--text-color);
    padding: 10px;
    display: block;
    text-align: center;
    font-weight: bold;
}