@import 'main10/all.css';
@import 'main10/bootstrap.css';
@import 'main10/font.css';
@import 'main10/header.css';
@import 'main10/showcase.css';
@import 'main10/main.css';
@import 'main10/contact.css';

:root{
    --main-color: #05a081;
    --text-color: #fff;
}
#showcase{
    background-image: url(../images/showcase.jpg);
    background-size: cover;
    width: 100%;
}
.contact{
    background-image: url(../images/subcribe.jpg);
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}