header{
    background-color: rgba(0,0,0,0.8);
    display: flex;
    width: 100%;
    height: auto;
}
.logo{
    flex:1;
    color:var(--text-color);
    font-size: 30px;
    text-transform: uppercase;
    padding:20px;
    
}
.menu{
    flex: 3;

}
.menu ul{
    display: flex;
    list-style: none;
    flex-flow: wrap;
    margin-top:30px;
}
.menu li{
    flex: 1;
    text-align: center;
}
.menu a{
    color:var(--text-color);
    text-decoration: none;
    padding:1em;
    font-size: 20px;
}