:root{
    --font-family: 'Roboto';
    --main-color: #05a081;
    --text-color:#fff;
    --bg-color:#eee;
    --bg-color-2:#333;
}

.floatleft{
    float: left;
    width: 30%;
}
.floatright{
    float:right;
    width:60%;
}
main{
    padding:4em 0;
    background-color:var(--bg-color);
}
.btn{
    background-color: var(--main-color);
    padding: 1em 1.5em;
    color:var(--text-color);
}